<table class="table">
    <thead>
        <tr>
            <th scope="col" *ngFor="let col of cols">{{col}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of alumnos; let i = index" [ngClass]="(alumno.nota < 7) ? 'desaprobado' : 'aprobado'">
            <td>{{i+1}}</td>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellido}}</td>
            <td>{{alumno.curso}}</td>
            <td>{{alumno.inscripcion | date:'dd-MM-YY'}}</td>
            <td>{{alumno.nota}}</td>
        </tr>
    </tbody>
</table>

<div id="leyenda">
    <div class="aprobado cuadrado"></div>Aprobado
    <div class="desaprobado cuadrado"></div>Desaprobado
</div>
